@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body{
    background-color: #7D2Ae8;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    padding: 2rem;
    text-align: center;
    box-shadow: 5px 5px 20px 0px hsla(266, 81%, 90%, 0.628);
}
#display{
    width: 50vw;
    background-color: #fff;
    color: black;
    padding: 1rem;
    font-size: 4rem;
    font-weight: 600;
    border-radius: 20px;
    margin-bottom: 30px;
    transition: all 0.5s ease;
}
#controls{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3rem;
}
#controls button{
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    padding: 1rem;
    font-size: 20px;
    color: rgb(252, 252, 252);
    transition: all 0.4s ease;
}
button i{
    margin: 0 5px;
}
#StartBtn{
    background-color: hsl(120, 90%, 50%);
}
#StartBtn:hover{
    background-color: hsl(120, 90%, 40%);
}
#StopBtn{
    background-color: hsl(0, 100%, 50%);
}
#StopBtn:hover{
    background-color: hsl(0, 100%, 40%);
}
#ResetBtn{
    background-color: hsl(210, 100%, 50%);
}
#ResetBtn:hover{
    background-color: hsl(210, 100%, 40%);
}